/*ESTANTERÍA*/

.estante {
    background-image: url('../img/supermarket/estante18.jpg');
    width: cover;
    height: 35rem;
    background-repeat: no-repeat;
    z-index: -2;
    
}



.images {
    display: flex ;
    justify-content: space-evenly;
    padding-top: 3rem;
    
    
}


.manzana {
    width: 6%;
    height: 3rem;
    margin-top: 3.3rem;
} 


.naranja {
    width: 6%;
    height: 3rem;
    margin-top: 3.3rem;
}


.platano {
    width: 8%;
    height: 6rem;
    margin-right: 6rem;
    margin-top: 0.2rem;
}

/*FIN ESTANTERÍA*/




/*CARRITO DE COMPRA*/

.carShoppingg {
    
    width: 65%;
    height: 20rem;
    margin-top: 10rem;
    margin-left: 6rem;
    border: 2px solid;
    
}

/*FIN CARRITO DE COMPRA*/