/*ESTANTERÍA*/

.estante {
    background-image: url('../img/supermarket/estante18.jpg');
    width: 100%;
    height: 34rem;
    background-repeat: no-repeat;  
    padding-left: 6rem;
    display: flex;
    display: inline;
    
}


.carShoppingg {
    /*background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.9)
      ),url('../img/supermarket/estante18.jpg');*/
    width: 30rem;
    height: 30rem;
    /*background-repeat: no-repeat;*/
    border: 2px solid black;
    margin-top: 6rem;
    
    
}



.images{
  display: flex;
  justify-content: space-evenly; 
  margin-right: 6rem;
}



.manzana {
    width: 2.5rem;
    height: 3.2rem;
    /*margin: 6rem 0rem 0rem 4rem;*/
    margin-top: 6rem;
    
    
} 


.naranja {
    width: 2.5rem;
    height: 3.2rem;
    /*margin: 6rem 0rem 0rem 4rem;*/
    margin-top: 6rem;
    
    
}


.platano {
    width: 4.5rem;
    height: 6rem;
    /*margin-right: 6rem;*/
    /*margin: 4rem 0rem 0rem 4rem;*/
    margin-top: 3.2rem;
    
    
}

.images_1 {
    display: flex;
    justify-content: space-evenly; 

}

.agua {
    width: 2rem;
    height: 5rem;
    margin-top: 0.6rem;

}

.uvas {
    width: 6.2rem;
    height: 5rem;
    margin-top: 0.7rem;
    
      
}

.pez_1 {
    padding-right: 4rem;
    
}

.pez {
    width: 11rem;
    height: 5rem;
    margin-top: 1.7rem;

}

.images_2 {
    display: flex;
    justify-content: space-evenly; 
    margin-right: 7rem;
    

}

.brocoli {
    width: 14rem;
    height: 5rem;
    
}

.limon {
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;

}

.images_3 {
    display: flex;
    justify-content: space-evenly; 
    margin-right: 6rem;
    
}




.huevos {
    width: 13rem;
    height: 8rem;
   

}

.aguacate {
    width: 3.6rem;
    height: 5.3rem;
    

}


.images_4 {
    display: flex;
    justify-content: space-evenly; 
    margin-right: 4.7rem;

}


.lechuga {
    width: 11rem;
    height: 3.4rem;
}


.pollo {
    width: 9rem;
    height: 3.5rem;
}

/*FIN ESTANTERÍA*/
/*FIN CARRITO DE COMPRA*/



/*CARRITO DE COMPRA*/
/*
.carShoppingg {
    
    width: 60%;
    height: 20rem;
    margin-top: 10rem;
    margin-left: 4rem;
    border: 2px solid;
    
}
/*FIN CARRITO DE COMPRA*/

/*.carShoppinggg{
    width: 84%;
    height: 27rem;
    border: 2px solid;
    margin-top: 5rem;
    padding: 5rem;
}*/

